.history__info {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  align-items: center;
}
.history__city {
  font-size: 34px;
  color: var(--header-color);
}
.history__temperature {
  font-size: 34px;
  color: var(--error-text-color);
}
