.history__info {
  // border: 1px solid green;
}
.history__city {
  font-size: 34px;
  color: var(--header-color);
}
.history__temperature {
  font-size: 34px;
  color: var(--error-text-color);
  //   border: 1px solid darkcyan;
}
